<!DOCTYPE html>
	<html>
		<head>
            <meta charset="utf-8">
            <title>Should I Fly?</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://0.0.0.0:5000/static/viz/Travel.css">
            <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Noto+Serif" rel="stylesheet">
            <!-- Core CSS     -->
            <link href="http://0.0.0.0:5000/static/assets/css/bootstrap.min.css" rel="stylesheet" />
            <link href="http://0.0.0.0:5000/static/assets/css/paper-dashboard.css" rel="stylesheet"/>
            <link href="http://0.0.0.0:5000/static/assets/css/themify-icons.css" rel="stylesheet"/>

            <!--  Fonts and icons     -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
            <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
            <script src="http://0.0.0.0:5000/static/viz/legend.js"></script>
            <script src="http://0.0.0.0:5000/static/button.js"></script>
            <script src="http://0.0.0.0:5000/static/viz/delay_heatmap.js"></script>

            <!-- <link rel="stylesheet" href="main.css"> will add this in once coded-->

            <style >

                .d3-tip {
                    line-height: 1;
                    padding: 8px;
                    background:rgba(0, 0, 0, 0.8);
                    color: #FFFFFF;
                    border-radius: 25px;
                    border: 1px solid #000000;
                    font-family: sans-serif;
                    font-size: 10px;
                }

                .tipDiv{z-index: 1000;}
                .heatmap{z-index: 1000;}
                .d3-tip{z-index: 1000;}


                #loading-indicator {
                position: absolute;
                left: 50%;
                top: 50%;
                }

                text.hover {
                    font-weight: bold;
                    fill: red;
                }

            </style>
		</head>

        <body>

                <div class="wrapper">
                    <div class="sidebar" data-background-color="white">
                
                        <div class="sidebar-wrapper">
                            <div class="logo">
                                <a class="simple-text" href="/">
                                    HOW SHOULD I FLY?
                                </a>
                            </div>
                            <div class="nav">
                                <form>
                                    
                                    <div style="background-color:#D9D9D9; border-radius: 12px">
                                        <p style="font-size:16px; line-height:3; text-align: center;  margin-top: 20px">Departure</p>
                        
                                        <p style="font-size:16px; line-height:3; margin:10px; text-align: right">
                                            <!-- dropdown menu for departure state -->
                                            <select name="departure_state" id="departure_state" onChange="changeDepAirport(this.value);" style="width:100%; padding: 10px; border-radius: 10px"></select>
                                        </p>
                                        <p style="font-size:16px; line-height:3; margin:10px; text-align: right">
                                            <!-- dropdown menu for departure airport, generated by choice of state -->
                                            <select name="departure_airport" id="departure_airport" style="width:100%; padding: 10px; margin-bottom: 50px; border-radius: 10px">
                                                <option value="" disabled selected>Select an airport</option>
                                            </select>
                                        </p>
                                    </div>
                                    <!-- adapted from https://stackoverflow.com/questions/30232146/dynamically-populating-drop-down-list-from-selection-of-another-drop-down-value -->
                                    <div style="background-color:rgb(228, 228, 228); border-radius: 12px">
                                        <p style="font-size:16px; line-height:3; margin:10px; text-align: center; background-color:rgb(228, 228, 228); margin-top: 15px">Arrival</p>
                    
                                        <p style="font-size:16px; line-height:3; margin:10px; text-align: right">
                                            <!-- dropdown menu for arrival state -->
                                            <select name="arrival_state" id="arrival_state" onChange="changeArrivAirport(this.value);" style="width:100%; padding: 10px; border-radius: 10px"></select>
                                        </p>
                                        <p style="font-size:16px; line-height:3; margin:10px; text-align: right">
                                            <!-- dropdown menu for arrival airport, generated by choice of state -->
                                            <select name="arrival_airport" id="arrival_airport" style="width:100%; padding: 10px; margin-bottom: 50px; border-radius: 10px">
                                                <option value="" disabled selected>Select an airport</option>
                                            </select>
                                        </p>
                                    </div>
                    
                                    
                    
                                    <!-- submit button for the departure and arrival parameters, which will visualize the data for that route -->
                                    <p style="padding-left: 25px">
                                        <!-- <button name="go" id="go" type="submit" onclick="retrieveRouteData()">Go!</button> -->
                                        <input name="go" id="go" type="submit" onclick="retrieveRouteData()" style="font-size:20px; line-height:2; margin: 10px; text-align: center; background-color:rgba(171, 148, 83, 0.692); color: #373F27; width: 80%; border: 1em; border-color: black; border-radius: 10px">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                
                    <div class="main-panel">
                        <nav class="navbar navbar-default" style="background-color:#99bedd85">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar bar1"></span>
                                        <span class="icon-bar bar3"></span>
                                    </button>
                                    <a class="navbar-brand">Flight Dashboard</a>
                                </div>
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="/dashboard">
                                                <i class="ti-panel" style="color:#062f4f"></i>
                                                <p style="color:#062f4f">Severity of Delay</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/reasons" style="margin-left:30px; margin-right:30px">
                                                <i class="ti-settings" style="color:#6d7993"></i>
                                                <p style="color:#6d7993">Cause of Delay</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                
                <!-- HEATMAP -->
                        <div class="content">
                            <div class="container-fluid" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-top:30px">
                                            <div class="header">
                                                <h4 class="title" style="font-weight:bold">Flight Delay Severity</h4>
                                                <p class="category" style="font-weight:bold">24 Hours / 7 Days Performance</p>
                                            </div>
                                            <div class="content" >
                                                <div id="heatmap" style="margin-left: 5px"></div>
                                                <img src="http://0.0.0.0:5000/static/viz/ajax-loader.gif" id="loading-indicator" style="display:none" />
                                                <div class="footer">
                                                    <div class="chart-legend" style="margin-top:35px; font-size: 120%">
                                                        <span style="color:rgb(255, 230, 0); margin-left: 200px;margin-right: 20px">
                                                            <i class="fas fa-square"></i> Less than 0
                                                        </span>
                                                        <span style="color:rgb(255, 174, 0); margin-right: 20px">
                                                            <i class="fas fa-square"></i> 0 - 15
                                                        </span>
                                                        <span style="color:rgb(255, 115, 0); margin-right: 20px">
                                                            <i class="fas fa-square"></i> 15 - 30
                                                        </span>
                                                        <span style="color:rgb(255, 94, 0); margin-right: 20px">
                                                            <i class="fas fa-square"></i> 30 - 45
                                                        </span>
                                                        <span style="color:red"; margin-right: 20px>
                                                            <i class="fas fa-square"></i> More than 45
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </body>



            <script>
                var data;
                generateStateLists();
                // function to retrieve the data for the selected route
                function retrieveRouteData() {
                    departure_airport = document.getElementById("departure_airport").value;
                    arrival_airport = document.getElementById("arrival_airport").value;
                    route_object = { 'departure_airport' : departure_airport,
                                    'arrival_airport' : arrival_airport};
                
    
                    $(document).ready(function() {
                        $('form').submit(function (e) {
                            // e.preventDefault();
                            var url = "{{ url_for('router') }}"; // send the data here
                            if (e.handled !== true){
                                e.handled = true // supress multiple posts
                                $.ajax({
                                type: "POST",
                                url: url,
                                data: JSON.stringify(route_object), // whatever inside route_object will be sent to /router
                                contentType: "application/json;charset=utf-8",
                                success: function (local_data) {
                                    console.log(local_data)
                                    get(local_data);
                                    // console.log(data);  // display the returned data in the console.
                                }
                            });
                            }

                            e.preventDefault(); // block the traditional submission of the form.
                        });
                    });

                    // loader
                    $(document).ajaxSend(function(event, request, settings) {
                    $('#loading-indicator').show();
                    });

                    $(document).ajaxComplete(function(event, request, settings) {
                    $('#loading-indicator').hide();
                    });
            
                };

            function get(local_data){ // callback
                data = local_data;
                // console.log(data)
                $("#heatmap").empty();
                // $(".tipDiv").empty();
                // $("axis-label").empty();
                heatMap(data);
                
                
            }

            </script>

        </html>